.item__svg {
    position: relative;
    display: block;
    width: 80%;
    height: auto;
    min-height: 500px;
    margin: 0 auto;
}

.item__clippath, .item__deco, .item__img {
    transform-origin: 50% 50%;
}

.item--style-3 .item__deco {
    fill: #fff;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.navbar {
    background: transparent;
    padding: 20px 50px !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #331B3B !important;
    background-color: transparent !important;
    font-weight: 700 !important;
    font-size: 17px !important;
}

.nav-item .nav-link.active::after {
    content: '';
    height: 3px;
    width: 30px;
    background-color: #FDC021;
    display: block;
}

.nav-link {
    color: #331B3B;
    font-weight: 500;
    font-size: 17px;
}

.icon-box {
    border: 3px solid #331B3BA3;
    height: 50px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 30px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
}

.icon-box:hover {
    animation: icon_border_anim 3s infinite;
}

@keyframes icon_border_anim {
    0% {
        border-top-right-radius: 30px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 50px;
    }

    25% {
        border-top-right-radius: 50px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 30px;
    }

    50% {
        border-top-right-radius: 30px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 50px;
    }

    75% {
        border-top-right-radius: 50px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 30px;
    }
}

.icon-box i {
    font-size: 20px;
}

.icon-box:not(:last-child) {
    margin-right: 10px;
}

.bg-1 {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-100%, 0);
    height: 100%;
    z-index: 0;
}

.sec-1-img-part {
    position: relative;
    text-align: end;
}

.img-1 {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-2 {
    position: absolute;
    z-index: 2;
}

.pad-50 {
    padding: 20px 0px;
}

.p-87 {
    font-size: 86px;
    line-height: 1.2;
}

.yellowLine::after {
    content: '';
    height: 24px;
    width: 53%;
    background: #fdc021;
    display: block;
    margin-top: -36px;
}

.svg-1 {
    position: relative;
    z-index: 5;
    width: 100%;
}

.section-1 {
    padding: 65px 50px 50px 50px;
}

.f-17 {
    font-size: 17px;
}

.main-btn {
    height: 65px;
    background-color: #331B3B;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    transition: all .3s ease;
    cursor: pointer;
    width: 205px;
    font-size: 17px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: .5s !important;
}

.main-btn:hover{
    box-shadow:none;
    transition: 0.5s !important;
}

.section-2 {
    position: relative;
    height: 500px;
    margin: 100px 0;
}

.blue-bg {
    background-color: #ECF7FF;
    border-radius: 0 400px 0 0;
    width: 90%;
    height: 500px;
    position: absolute;
    z-index: 2;
}

.circle-13 {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-100%, -50%);
    z-index: 0;
}

.text-div-2 {
    position: relative;
    padding: 50px 0;
    z-index: 3;
}

.slider-div1 {
    width: 90%;
    margin-left: auto;
}

.slider-div {
    /* padding-left: 150px; */
}

.slick-next, .slick-prev {
    top: 130% !important;
    transform: translate(0, -100%) !important;
    color: #000 !important;
    border: 2px solid #000 !important;
    outline: none !important;
    background: transparent !important;
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
}

.slick-prev:before, .slick-next:before {
    line-height: .5 !important;
    color: #000 !important;
}

.slick-next:before {
    content: '⟶' !important;
}

.slick-prev:before {
    content: '⟵' !important;
}

.slick-next {
    right: auto !important;
}

.slick-prev {
    left: -4% !important;
}

.p-48 {
    font-size: 48px;
    line-height: 1.2;
}

.slide-img-div {
    height: 52px;
    width: 48px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.slide-img {
    width: 100%;
}

.p-16-7 {
    font-size: 16px;
    font-weight: 700;
}

.g-15 {
    color: #331B3BA8;
    font-size: 15px;
}

.slide-main-div {
    border-radius: 10px;
    box-shadow: 0px 0px 9px 2px #0000000D;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: auto;
}

.p-17 {
    font-size: 17px;
    color: #331B3BA8;
}

.sec-3-img-div {
    position: relative;
    height: 530px;
}

.sec-3img-1 {
    position: absolute;
    top: -75px;
    z-index: 1;
    left: 3%;
    height: 513px;
    transform: translate(0, 0);
}

.sec-3img-2 {
    position: absolute;
    top: -75px;
    z-index: 0;
    left: 40%;
    width: 72%;
    transform: translate(-50%, 0%);
}

.sec-3svg {
    position: relative;
    width: 100%;
    top: -340px;
    z-index: 2;
}

.section-3 {
    margin-top: 200px;
}

.section-2, .section-3 {
    /* z-index: 1; */
    position: relative;
}

.pl-150 {
    padding-left: 150px;
}

.section-4 {
    padding: 0 50px;
    margin-top: 40px;
}

.navbarBgWhite {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.orange-bg {
    background-color: #FFEED4;
    border-top-left-radius: 400px;
    width: 90%;
    height: 560px;
    position: absolute;
    z-index: -1;
    left: 100%;
    transform: translate(-100%);
}

.work-imgs-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.work-div {
    box-shadow: 0px 0px 9px 2px #0000000D;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    width: 88%;
    margin: auto;
}

.work-imgs-div img {
    box-shadow: 0px 0px 9px 2px #0000000D;
    border-radius: 10px;
    height: 240px;
    width: auto !important;
    object-fit: contain;
    border: 1px solid #c4c4c4;
}

.work-slider-div {
    width: 90%;
    margin-left: auto;
}

.f-24-7 {
    color: #331B3B;
    font-size: 24px;
    font-weight: 700;
}

.view-work-btn {
    border: 1px solid #343434;
    border-radius: 100px;
    height: 23px;
    width: 92px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
}

.owl-nav {
    display: none !important;
}

.section-5 {
    padding: 65px 50px;
}

.f-16-6 {
    font-size: 16px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.f-16-6::before {
    content: '';
    height: 3px;
    width: 15px;
    margin-right: 5px;
    background-color: #FDC021;
}

.testimonial-box {
    box-shadow: 0px 0px 7px 1px #00000014;
    width: 90%;
    margin: auto;
    padding: 25px;
}

.comma {
    height: 65px;
    width: 65px;
}

.w-85 {
    width: 85%;
}

.git-field {
    height: 52px;
    border: 2px solid #fff;
    padding-left: 10px;
    background-color: transparent;
}

.send-btn {
    height: 52px;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    width: 145px;
    border: 2px solid #fff;
    transition: .5s;
}

.footer {
    background-color: #000;
    color: #fff;
    border-top-right-radius: 100px;
    padding: 80px 50px;
}

.f-36 {
    font-size: 36px;
}

.f-18-6 {
    font-size: 18px;
    font-weight: 600;
}

.map {
    width: 80%;
    margin: auto;
    height: 300px;
}

.send-btn:hover {
    border: 2px solid #fff;
    background-color: transparent;
    transition: .5s;
    color: #fff;
}

@media (max-width:1280px) {
    .p-87 {
        font-size: 72px;
    }

    .main-btn {
        height: 60px;
        width: 190px;
        font-size: 16px;
    }

    .img-1 {
        height: 100%;
    }

    .svg-1 {
        width: 90%;
    }

    .img-2 {
        width: 80%;
    }

    .work-imgs-div img {
        height: 205px;
    }

    .work-div {
        width: 90%;
    }
}

@media (max-width:1024px) {
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        font-size: 15px !important;
    }

    .nav-link {
        font-size: 14px !important;
    }

    .icon-box {
        border: 3px solid #331B3BA3;
        height: 45px;
        width: 42px;
    }

    .p-87 {
        font-size: 52px;
    }

    .f-17 {
        font-size: 15px;
    }

    .main-btn {
        height: 50px;
        width: 160px;
        font-size: 14px;
    }

    .img-1 {
        height: 80%;
    }

    .section-2 {
        margin: 0;
    }

    .p-48 {
        font-size: 38px;
    }

    .slide-main-div {
        padding: 12px;
    }

    .slide-img-div {
        height: 46px;
        width: 44px;
    }

    .p-16-7 {
        font-size: 14px;
    }

    .g-15 {
        font-size: 14px;
    }

    .slide-img {
        width: 85%;
    }

    .slick-next, .slick-prev {
        width: 30px !important;
        height: 30px !important;
    }

    .slick-prev:before, .slick-next:before {
        font-size: 17px;
    }

    .sec-3img-1 {
        height: 70%;
    }

    .section-3 {
        margin-top: 125px;
    }

    .p-17 {
        font-size: 15px;
    }

    .p-48 {
        font-size: 36px;
    }

    .section-4 {
        margin-top: -100px;
    }

    .pad-20 {
        padding-top: 20px;
    }

    .work-div {
        width: 94%;
    }

    .work-imgs-div img {
        height: 165px;
    }

    .f-24-7 {
        color: #331B3B;
        font-size: 18px;
    }

    .orange-bg {
        height: 480px;
    }

    .comma {
        height: 56px;
        width: 56px;
    }

    .f-16 {
        font-size: 15px;
    }

    .testimonial-box {
        width: 100%;
    }

    .footer .f-36 {
        font-size: 30px;
        font-weight: 500;
    }

    .send-btn, .git-field {
        height: 42px;
    }

    .map {
        width: 100%;
        margin: auto;
        height: 260px;
    }

    .footer {
        padding: 60px 40px;
    }
}

@media (max-width:992px) {
    .bg-1 {
        height: 50%;
    }

    .navbar {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 20px 30px !important;
    }

    .navbar-brand {
        position: unset;
        transform: none;
        font-size: 33px !important;
    }

    .p-87 {
        font-size: 42px;
    }

    .section-1 {
        padding: 65px 30px 20px 30px;
    }

    .img-2 {
        width: 90%;
    }

    .svg-1 {
        width: 95%;
    }

    .img-1 {
        height: 70%;
    }

    .p-48 {
        font-size: 33px;
    }

    .g-15 {
        font-size: 13px;
    }

    .p-16-7 {
        font-size: 13px;
    }

    .slide-main-div {
        padding: 10px;
    }

    .slick-next, .slick-prev {
        width: 40px !important;
        height: 40px !important;
    }

    .slick-prev {
        left: -7% !important;
    }

    .sec-3img-1 {
        height: 60%;
        top: 0;
    }

    .sec-3img-2{
        top: -30px;
    }

    .section-3 {
        margin-top: 95px;
    }

    .pl-150 {
        padding-left: 0;
    }

    .work-imgs-div img {
        height: 140px;
    }

    .orange-bg {
        height: 440px;
    }

    .w-85{
        width: 100%;
    }
}

@media (max-width:765px) {
    .sec-1-img-part{
        margin-top: 50px;
    }

    .svg-1 {
        width: 95%;
        height: 350px;
    }

    .img-1 {
        height: 95%;
    }

    .section-2{
        margin-top: 50px !important;
    }

    .slide-main-div {
        padding: 20px;
    }

    .slide-img-div {
        height: 56px;
        width: 54px;
    }

    .p-16-7 {
        font-size: 19px;
    }

    .g-15 {
        font-size: 16px;
    }

    .slick-prev {
        left: 5% !important;
    }

    .slick-next {
        right: 75% !important;
    }

    .section-3 {
        margin-top: 70px;
        padding: 0 10px;
    }

    .section-3 .row{
        flex-direction: column-reverse;
    }

    .section-1 {
        padding: 65px 10px 20px 10px;
    }

    .sec-3-img-div {
        margin-top: 70px;
    }

    .section-4{
        padding: 0 10px;
        margin-top: -140px;
    }

    .orange-bg {
        height: 520px;
    }

    .p-17 {
        font-size: 18px;
    }

    .section-5{
        padding: 65px 10px;
    }

    .slider-div1{
        width: 100%;
    }

    .testimonial-box{
        margin-bottom: 20px;
    }

    .map{
        margin-top: 30px;
    }
}

@media (max-width:390px) {
    .section-1 {
        padding: 10px 10px 20px 10px;
        text-align: -webkit-center;
    }

    .navbar{
        padding: 20px 20px !important;
    }

    .navbar-brand{
        font-size: 26px !important;
    }

    .p-87 {
        font-size: 40px;
    }

    .slick-next {
        right: 68% !important;
    }

    .sec-3svg {
        position: relative;
        width: 100%;
        top: -10%;
        z-index: 2;
        height: 370px;
    }

    .section-4 {
        padding: 0 10px;
        margin-top: -210px;
    }

    .footer {
        padding: 50px 10px;
        border-top-right-radius: 170px;
    }

    .sec-3img-1 {
        height: 48%;
        width: 100%;
        top: 0;
    }
}

@media (max-width:320px) {
    .work-imgs-div img {
        height: 115px;
    }

    .orange-bg {
        height: 576px;
    }
}